.image-container {
    width: 100%; 
  }
  
  .image-item {
    width: 200px; 
    margin: 10px;  
    text-align: center; 
  }
  
  .image-item img {
    max-width: 100%; 
    height: auto;     
  }
  
  